*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 31 25px;
}

.image{
    width: 27px;
    height: 24.5px;
    margin-right: 7px;
}

.navbar h3{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
}

.navbar h4{
    color: #DEEBF8;
    font-weight: 600;
}

.main{
    padding: 57px 27px;
    color: white;
    background-image: url(./react-icon-large.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75%;
}

.main h1{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main ul{
    margin-top: 46px;
    max-width: 450px;
}

.main ul li{
    line-height: 19x;
    padding-block: 10px;
}

.main ul li::marker{
    color: #61DAFB;
    font-size: 1.4rem;
}